main {
    min-height: 70vh;
    background-color: #fff
}
.card{
    background-color: #fff
}

h1,
h3,
h4,
h6,
thead,
tr,
td a,
strong,
li
{
    color: black
}

tr:hover,
td a:hover {
    color: red !important;
    cursor: pointer
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0
}

h2 {
    font-size: 1.4rem;
    padding: .5rem 0
}

.rating span {
    margin: 0.1rem
}

/* Header */

#navBar2 {
    padding: 0 !important;
    display: flex !important;
    justify-content:space-between !important;
    height: 2.5rem
}

#navContainer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 26%
}
/* 
#navContainer2:ch */

.fa-shopping-cart {
    color: white;
    font-size: 1.5rem;
    margin-right: 15%;
    height: 100%;

}

.menu-container {
    margin-bottom: .8rem
}

 Nav:nth-child(3):hover {
    background-color: transparent
} 

#navItem {
    font-size: 1rem;
    font-weight: 550;
    color: black;
    padding: 0 1rem;
    border: 1.5px solid transparent
}

#navItem:hover {
    border: 1.5px solid black
}
#navItem a {
    color: black;
    text-decoration: none;
}



/* #navItem:hover {
 border: 1px solid black;
 color: white;
 background-color: whitesmoke !important;
} */

.menu-link {
    color: black;
    border: 2px solid black;
    margin-right: 1rem;
    font-weight: 500
}

/* .menu-link:active {
    background-color: black;
    color: white
} */

#time {
    color: white;
    display: block;
    margin: 0 1rem
}

#adminmenu,
#username {
    border: none;
    margin: 0 .5rem
}


/* Menu */

.title-text {
    text-align: center
}

/* carousel */
.carousel-item-next, 
.carousel-item-prev,
.carousel-item.active {
    display: flex
}

.carousel-caption {
    position: absolute;
    top: 0
}

.carousel-caption h2 {
    color: #fff
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
}

.carousel a {
    margin: 0 auto
}

/* Modal */

textarea {
    width: 100%;
    padding: .5rem
}
#frysampler {
    margin-right: .5rem
}

/* Payment */

.billingTitle {
    margin: 1rem 0
}

.StripeElement {
    margin: 15px auto;
    padding: 10px 12px;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .cardInfo {
      font-size: 14px;
      padding: 2px 12px
  }
  
  .pay-btn {
      display: block;
      margin: 1.2rem auto .5rem;
      padding: .3rem .9rem
  }
  
  /* User List */
  .btn-sm {
      margin: 0 15%
  }